{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <form id="contactForm-2" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-12" id="message">
                    <fieldset></fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="product_name">Product name</label><input class="form-control" type="text" id="product_name" name="product_name" placeholder="product_name" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="price">product Price</label><input class="form-control" type="text" id="price" name="price" placeholder="price" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="description">product description</label><input class="form-control" type="text" id="description" name="description" placeholder="description" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="tax">product tax</label><input class="form-control" type="text" id="description" name="tax" placeholder="tax %" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="tax">product category</label><input class="form-control" type="text" id="description" name="tax" placeholder="tax %" required></div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" id="btn_addProd" type="button">add</button></div>
                    <hr>
                </div>
            </div>
        </form>
    </div>
{% endblock %}