{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">users</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Usres information</p>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>address</th>
                            <th>phone number</th>
                            <th>roles</th>
                            <th>update</th>
                            <th>remove</th>
                        </tr>
                        </thead>
                        <tbody>
                            {# loop through users #}
                            <tr>

                            </tr>

                        </tbody>
                        <tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}