{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid">
    <h3 class="text-dark mb-4">Categories</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">List of categories</p>
        </div>
        <div class="card-body">
            <div class="row">
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>category name</th>
                        <th>description</th>
                        <th>added by</th>
                        <th>update</th>
                        <th>remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# loop through categories #}
                    {% if categories %}

                        {% for category in categories %}
                            <tr>
                            <td>{{ category.catName}}</td>
                            <td>{{ category.catDesc}} </td>
                            <td>{{ category.userId.username }}</td>
                            <td>update</td>
                            <td>remove</td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            no data found
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(categories) }}
                </div>

            </div>
        </div>
    </div>
    </div>{% endblock %}