{% extends 'base.html.twig' %}
{% block title %}monthly sales {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="offset-4"></span> monthly sales</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <div>
                            <canvas id="monthlySalesChart" width="600px" height="300px"></canvas>

                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var monthlySalesData = {{ sales|json_encode|raw }};
                                var ctx = document.getElementById('monthlySalesChart').getContext('2d');

                                var datasets = {};
                                monthlySalesData.forEach(function (entry) {
                                    if (!datasets[entry.productName]) {
                                        datasets[entry.productName] = {
                                            label: entry.productName,
                                            data: [],
                                            backgroundColor: 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',0.5)',
                                        };
                                    }

                                    datasets[entry.productName].data.push(entry.totalSales);
                                });

                                var chartData = {
                                    labels: monthlySalesData.map(function (entry) {
                                        return  entry.month;
                                    }),
                                    datasets: Object.values(datasets),
                                };
                                var chartConfig = {
                                    type: 'bar',
                                    data: chartData,
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                            },
                                        },
                                    },
                                };

                                var myChart = new Chart(ctx, chartConfig);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}