.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    background: -webkit-linear-gradient(to right, #9290C3, #535C91, #1B1A55, #070F2B);

    background: linear-gradient(to right, #9290C3, #535C91, #1B1A55, #070F2B);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
