.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    background: -webkit-linear-gradient(to right, #f5f5f6, #48a1de, #226fa2, #023962);

    background: linear-gradient(to right, #e8e7e7, #48a1de, #226fa2, #023962);
}
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #fccb90;

    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.87), #2d2d2d, #858585, #EEEEEE);

    background: linear-gradient(to right, rgba(0, 0, 0, 0.87), #2d2d2d, #858585, #EEEEEE);
}
.navItemsColor{
    color: #3c87b9;
    font-weight: bold;
}
.navSubItemColor{
    color: #9ad0ef;
    font-weight: bold;

}
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
    .gradient-custom-3 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
body{
    background: -webkit-linear-gradient(to right, #EEEEEE, #858585, #2d2d2d, rgba(0, 0, 0, 0.87));

    background: linear-gradient(to right, rgba(0, 0, 0, 0.87), #EEEEEE, #858585, #2d2d2d);
}