{% extends 'base.html.twig' %}
{% block title %}Add category {% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-dark mb-4">Categories</h3>
        <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">add new category</p>
        </div>
        <form id="contactForm-2" method="post" class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-12" id="message">
                    <fieldset></fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="category_name">Category name</label><input class="form-control" type="text" id="category_name" name="category_name" title="please fill this field" placeholder="category_name" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3"><label class="form-label" for="cat_desc">Category description</label><input class="form-control" type="text" id="cat_desc" name="cat_desc" title="please fill this field" placeholder="description" required></div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token('addCat') }}">

                    <hr>
                    <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" id="btn_addCat" type="button">add</button></div>

                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}