<div class="container container-fluid">
    <footer class="offset-2 py-3 my-3">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="{{ path('admin_dashboard') }}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{{ path('app_contactus') }}" class="nav-link px-2 text-muted">Contact us</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="{{ path('app_aboutus') }}" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© {{ 'now'|date('Y')}} Inventory, FCZ</p>
    </footer>
</div>