<div class="container my-auto">
    <div class="text-center my-auto copyright" ><span style="color: var(--bs-black);background: #ffffff80;font-size: 20px;"><br>All rights reserved© Inventory <br><br></span></div>
</div>