<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Denied</title>
     {{ encore_entry_script_tags('error') }}
</head>
<body>

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Frijole|Josefin+Sans:300,400,400i,600,700|Viga" rel="stylesheet">

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 506.8 604.9" style="enable-background:new 0 0 506.8 604.9;" xml:space="preserve">

  <g>


    <g>
        <g>
            <g>

                <image style="overflow:visible;opacity:0.28;" width="320" height="211" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAADTCAYAAADwFcrzAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
                                                                                           GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACI9JREFUeNrs3ely28YSgNEBCS2J
                                                                                           c9//RWNLlkjimimg0mrPYCEpySmfU4UCtViG/eOrHixUKQAA/F66X+RnAFxi+Oh4dWII/KLR2xTE
                                                                                           7orv7RZ+jhgC7xm9Yebrq0K4NlLdyv3czxRE4Noprxa9pf3FAcxh69Lr2ufWBhFgSwhj2PLrofH1
                                                                                           2RCuOZ/Xit6u8bpbsWQG2DIB1oJ3arwe1k6DSwGMMdtV9nnrGtOhCALXxG+oxC9vQ2VfmwgXg5Sn
                                                                                           vlrs9mGbi6H4AdcufVvRO4atFcXmFNhtjF+MXj9u+7DfVyIofsA1ERwa0TuE/WEmhs0IdjNL3xjA
                                                                                           HL67sPVh34sg8M7xm4L3Gvav4eMcwtq5wWqUatNfnvjux+Cd9w/p4z5stfOCAGsDmJe+h7C9jME7
                                                                                           77+nj/NE2JwCWwHcpQD2IXLn7XGM37R/CDHs05K4E0HgwvgNacl7CNGbtuewfwkxPKQAntYEsDb9
                                                                                           xYnvvP1R2R5DIO/SFLgrrggDy0ve0lj6HsKE9zLG7qmyfU8TYWsp/I++cTC1EE5T4DT5naP35cf2
                                                                                           Z9hiBFtTIMDaCTBOfzF+d+Xf6w05mPkc4NSen64C9zMTWes84H2YAs/R+2vc/gyT4EM4wH34OSY/
                                                                                           YM0keEoBfA3L3Puwwizl7cWR1/L2jpTW/chDawKMfyAuYePV3xzA/43T4JcQwDgFui8QWLsEjhc/
                                                                                           4vT3PU1/MX7T8viu/HtFeGrXsTUF9jMHlO8DzBPgY1j6fgkRjEvhfFuM84DAXPxqy9lDWvpOk1+c
                                                                                           +uJFkdycZmf6mSC1zgNOEZyuBv8Rpr+/whSYL4Z4PA5YE784AR7SdBeXvdPnn8rPd6C0mvNmCpy7
                                                                                           CDI3BeYIPoZJcDoX+FB+vhrsQgiwFMR879804eX4Pc7EL/emWzMBtiKYzwXG+wIfwpJ4mginiyEC
                                                                                           CNwigDl+z+Xtgxj5AYxVT6H1M+GrLYNrk2C8QTqeH4wXQgQQuDSAOX73lfDVHsGdXf4uTYBzEdyX
                                                                                           +mNy8RnheIB7AQQ2BvAYenEqb99/IL8By75c8PjtmiXwXAz3pf4OMXkTQGBrALvwub4Svtr9fpt+
                                                                                           P1G/4cBqF0bm3i9wN3OQAHMBjPE7lvn3HF11wWNLAOd++VHrrfF3CzH01ljAUvziebqh0ZBdqf8q
                                                                                           jq6s+8VtmybApTdNbYWxW3FwAK3ubGnJRb+at7/Rga456Nb3Aya/kqa/rS25SP+B/0gTIDA3ROVz
                                                                                           f+9ud8PJD+Cjo3lVf3bvdEC3+D7g943ahzRk90n/AIBPb8zO/yfwuxJAQAABBBBAAAEEEEAAAQQQ
                                                                                           QAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEBBA
                                                                                           AAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAAB
                                                                                           BBBAAAEEEEAAAQQQQEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEE
                                                                                           EEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEBBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQ
                                                                                           QAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEBAAAEEEEAAAQQQQAABBBBA
                                                                                           AAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAABBBBAAAEEEEAAAQQQQAAB
                                                                                           AQQQwKsN/kuBd3TTxuw+4cBEEvglGrK70cGKGvBZsby4P/0nHHCXXgNiFl9/2EDVv9PB17YufE9n
                                                                                           cgQubMnNVp79xoPKnxtWHOzw0VUH/tMB3NKTYUWnNgdw2BC6U2Wfty4seTsxBGba0+rIqdGcNWEc
                                                                                           rl0CD5UDXDrYY2Xp67wfsCaAx3Gbi2Fu0aalcX/B0rd2gNN2SFuM304AgY0BPFS23J1TmT/VNlwS
                                                                                           wFb0TuEvzeF7Ddsu/PmjAAIXLIHPXXlJbckhPKVJcfV1h36hlkNjmZuj9xK27yF+p/Hv2AkgcGEA
                                                                                           z415HtsSW5NjeFqI4HDJEjjHL4fv+7idD/Auxe9OAIEbBPDcmKexM8+hOzmEOYIXLYGHxsHEyW+q
                                                                                           8HMjfq8pgF0jgIIIv3fwysyqMw5b5858/bF9C92ZOlSbBBcvjPSVv7xrHEgrfveN+N2PP3+fJkDx
                                                                                           A5YimIeuqTffxgh+DRNhK4KLy+ClJXDrQOKSd4pcjN9zJYB5+hM/oBam2uAVu/M1TILfytvzg3NT
                                                                                           4KolcPwDp8paPK7H92HyO45fe/yxPYxx3I9bF75P+IClEE7xOoa2TAF8GsP397h/Gr8WrxLHdpVW
                                                                                           CPvG8rdW4VjiPsUvXq5+StPfvrTP/wG0hrCh0p64FP6WAhgnwOPMBDgsLYFb5/+m+/vi+bxTKPQU
                                                                                           v3z11/k/YO0SuJT63SevKYJPYXsOU+DSecBmhKaPd2HZuh9jdjfG7T4sc6f9tE2TX2v6Ez1gywSY
                                                                                           p8B4PjDegjft8z2CMYSnHNtWALsUwH0I232I4UP6uA9bvvdP/IBLIpjvQY5Ph7yUt/cD5qvBtaXw
                                                                                           MLcMzRNbjGCcBu/CUvcuTX61pa8AAluXxEtPoeVHcPOzwrV3jClLAcxT4K4Rwj683osf8EERPIbY
                                                                                           HRrhW7whuhWmuQjWYlj7uvv+gGvjV8r82+61orfqaZC5KHUphLvKvhU9j70Bt4hfKe03Yl7zZqml
                                                                                           bLgK3JoCS6mfG6y9bi17xQ+4JoKl1N+NvvXu0KUsPAu8FKVuZiLsGp8rlr7AOy2FSyVwQ+NzZS5+
                                                                                           W+LUrdzP/UwhBC6dAJeCWNZOfZdGqVuYDgUP+MggDiuWzDcL4Jo/I3rAZ02Hq8N3y2CJHvArxhAA
                                                                                           AJL/CzAAVzO9MLNesgEAAAAASUVORK5CYII=" transform="matrix(1 0 0 1 -2.1111 200.7407)">
                </image>
                <g>
                    <rect x="0.9" y="0.8" class="st9" width="600" height="300"/>
                </g>
            </g>
        </g>

    <g>

                </g>
        <text opacity="0.6" fill="#000" font-family="Viga" font-size="25">There is no way Immma
            <tspan  >let you pass through!</tspan>
            <tspan  fill="#000" font-size="65">403</tspan>
            <tspan fill="#000" font-size="15">Access Forbidden.</tspan>
        </text>

        <text x="150" y="35" fill="#6BA184" font-family="Viga" font-size="25">There is no way Immma
            <tspan x="135" y="70" >let you pass through!</tspan>
            <tspan x="200" y="120" fill="#BF3E73" font-size="65">403</tspan>
            <tspan x="193" y="140" fill="#6BA184" font-size="15">Access Forbidden.</tspan>
        </text>
    </g>
    </g>

</svg>

</body>
</html>