<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
<h1>{{ subject }}</h1>
<p>{{ content }}</p>
<p><a href="http://inventory.test/resetmdp?mail={{ mail }}">click here to reset ur password</a></p>
</body>
</html>
