<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ subject }}</title>
</head>
<body>
<div class="card">
    <div class="card-header">
        <img class="img-responsive offset-5" alt="" src="https://play-lh.googleusercontent.com/vCvvSVvN4cEUiGeXxdY152a690jPevvzUNftMU3Vu990Op-LrXbTdSxMq6JlUZmfzA=w240-h480-rw" style="width: 80px; border-radius: 43px;">
        <h1>{{ subject }}</h1>

    </div>
    <div class="card-body">
        <p>you successfully made a purchase here is your receipt: </p>
        <p><a href="http://inventory.test/user/pdf?orderId={{ order}}">click here to download your receipt</a></p>
    </div>
    <div class="card-footer">
        <h3 class="text-muted">INVENTORY, Inc  <span> {{ 'now'|date('Y-m-d')}}</span></h3>
    </div>
</div>
</body>
</html>
