<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
<h1>{{ subject }}</h1>
<p>you successfuly made a purchase here is your invoice: </p>
<p><a href="http://inventory.test/user/pdf?orderId={{ order}}">click here to download your receipt</a></p>
</body>
</html>
