{% extends 'base.html.twig' %}
{% block title %}Profile {% endblock %}

{% block body %}
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Change password</p>
                    </div>
                    <div class="card-body">
                        <form action="{{ path('change_password') }}" >
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" ><strong>Username : </strong>{{ userInfo.username }}</label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="newPassword" ><strong>New Password</strong></label>
                                        <input class="form-control userInfo" required type="password" id="newPassword"  name="newPassword" >
                                        <span type="button" onclick="showPassword('newPassword','showHideNew')" id="toggle-password" style="float: right;margin-right: 5%;margin-top: -30px;position: relative;z-index: 2;" data-bs-toggle="#password" class="toggle-password text-muted"><b id="showHideNew">show</b></span>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="confirmPassword"><strong>Confirm password</strong></label>
                                        <input class="form-control userInfo" required type="password" id="confirmPassword"  name="confirmPassword" >
                                        <span type="button" onclick="showPassword('confirmPassword','showHideConfirm')" id="toggle-password" style="float: right;margin-right: 5%;margin-top: -30px;position: relative;z-index: 2;" data-bs-toggle="#password" class="toggle-password text-muted"><b id="showHideConfirm">show</b></span>
                                    </div>
                                </div>
                                <script>
                                    function showPassword(targetID,togglerId) {
                                        let passwordField = document.getElementById(targetID);
                                        let mdpToggler=document.getElementById(togglerId);
                                        if (passwordField.type === "password") {
                                            passwordField.type = "text";
                                            mdpToggler.innerText="hide"
                                        } else {
                                            passwordField.type = "password";
                                            mdpToggler.innerText="show"
                                        }
                                    }
                                </script>
                            </div>
                            <div class="row"></div>
                            <input type="hidden" name="userId" id="userId" value="{{ userInfo.id }}">
                            <input type="hidden" name="_csrf_token_pwd" id="_csrf_token_pwd" value="{{ csrf_token('updatePassword') }}">
                            <div class="row">
                                <div class="col"><button class="btn btn-success" type="submit" id="change_password"  data-bs-toggle="modal" data-bs-target="#orderload">update password</button></div>
                                <div class="modal fade" id="orderload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">hold on while we update your password</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>stay patient please </p>
                                                <div class="offset-4">
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div><div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}