{% extends 'base.html.twig' %}
{% block title %}Profile {% endblock %}

{% block body %}
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Change password</p>
                    </div>

                    <div class="card-body">
                        <form action="{{ path('change_password') }}" >
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" ><strong>Username : </strong>{{ userInfo.username }}</label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" ><strong>New Password</strong></label><input class="form-control userInfo" type="text" id="newPassword"  name="newPassword" ></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" ><strong>Confirm password</strong></label><input class="form-control userInfo"  type="text" id="confirmPassword"  name="confirmPassword" ></div>
                                </div>
                            </div>
                            <div class="row"></div>
                            <input type="hidden" name="userId" id="userId" value="{{ userInfo.id }}">

                            <input type="hidden" name="_csrf_token_pwd" id="_csrf_token_pwd" value="{{ csrf_token('updatePassword') }}">
                            <div class="row">
                                <div class="col"><button class="btn btn-success" type="submit" id="change_password" >save changes</button></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}